@import url("https://fonts.googleapis.com/css?family=Montserrat");
html {
  width: 100%;
  height: 100%; }

body {
  font-family: "Montserrat", sans-serif;
  color: #555555;
  width: 100%;
  height: 100%; }
  body #body-container {
    width: 100%;
    height: auto; }
  body a {
    color: #349b93;
    text-decoration: inherit; }
    body a:hover {
      color: #AAE0EB;
      text-decoration: inherit; }
  body .alignCenter {
    text-align: center; }
  body .spacer {
    width: auto;
    height: 32.5%;
    background: transparent; }
  body #nav-container {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 100; }
    body #nav-container header {
      width: 100%;
      height: auto;
      background: #DE4E4B;
      color: white; }
      body #nav-container header ul {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
        height: 100%; }
        body #nav-container header ul #logo-li {
          padding: 20px 0; }
        body #nav-container header ul li {
          padding: 0;
          margin: 0; }
          body #nav-container header ul li #godex-logo {
            width: 25%;
            margin: 5px 0; }
          body #nav-container header ul li h1 {
            font-size: 1.75em;
            margin: 0;
            padding: 2.5% 5%;
            line-height: 300%; }
    body #nav-container nav ul {
      list-style: none;
      text-align: center;
      margin: 0;
      padding: 0; }
      body #nav-container nav ul li {
        padding: 2.5% 0;
        background: rgba(85, 85, 85, 0.75); }
        body #nav-container nav ul li a {
          color: white;
          text-decoration: none; }
          body #nav-container nav ul li a:hover {
            color: #DE4E4B;
            text-decoration: inherit; }
  body .contentContainers {
    height: 100%;
    padding: 2.5% 2.5%;
    text-align: center; }
  body .sectionSpacers {
    height: 15%;
    background: transparent;
    opacity: 0; }
  body #download-section {
    background: #eeeeee;
    height: auto;
    padding-top: 5%; }
    body #download-section ul {
      margin: 0;
      padding: 0;
      list-style: none;
      background: rgba(85, 85, 85, 0.5);
      width: 50%;
      margin: 0 auto;
      border-radius: 15px;
      padding: 3% 0;
      color: white;
      border: 2px rgba(255, 255, 255, 0.95) solid; }
      body #download-section ul li h2 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.75);
        width: 50%;
        margin: 10px auto;
        font-size: 2.25vw;
        padding-bottom: 15px; }
      body #download-section ul li ol {
        margin: 0;
        padding: 0;
        list-style: inherit; }
        body #download-section ul li ol li {
          text-align: center;
          margin: 10px 0;
          font-size: 1.5vw; }
    body #download-section ol {
      list-style: none;
      padding: 0;
      margin-top: 5%; }
      body #download-section ol li .vendorContainer {
        width: 50%;
        height: 10%;
        display: block;
        margin: 0 auto;
        color: white; }
        body #download-section ol li .vendorContainer .emblem {
          display: block;
          width: 100%;
          height: 75px;
          background-position: center;
          background-size: 80%;
          background-repeat: no-repeat; }
        body #download-section ol li .vendorContainer #apple {
          background-image: url("../../images/apple-store-badge.png"); }
        body #download-section ol li .vendorContainer #google {
          background-image: url("../../images/google-play-badge.png");
          background-size: 92.5%; }
        body #download-section ol li .vendorContainer h2 {
          font-size: 1em; }
  body #about {
    height: 25%; }
  body #about-section {
    padding: 0 0 5%;
    height: auto; }
    body #about-section ol {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-top: 5%;
      height: auto; }
      body #about-section ol li {
        background: #d8eee2;
        border: white solid 5px;
        padding: 2.5%;
        min-height: 400px;
        border-radius: 10px; }
    body #about-section hr {
      width: 75%; }
    body #about-section .aboutImgs {
      width: 175px;
      display: block;
      margin: 15px auto;
      border-radius: 37.5px; }
  body #contact {
    height: 12.5%; }
  body #contact-section {
    height: 50%;
    padding-top: 10%;
    background: white; }
    body #contact-section ol {
      list-style: none;
      margin: 0;
      padding: 0; }
      body #contact-section ol li h4 {
        margin: 0; }
      body #contact-section ol li small {
        color: #DE4E4B;
        margin-top: 10px; }
  body footer {
    background: #D8EEE2;
    height: auto; }
    body footer .footerLists {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: right;
      padding: 2.5%; }
      body footer .footerLists li {
        padding-bottom: 5%; }
      body footer .footerLists i {
        font-size: 2.5em;
        padding: 0 .5%; }

/*# sourceMappingURL=style.css.map */