@import "./importer/importer.sass"

html
  width: 100%
  height: 100%

body
  +font-fam
  color: $grey
  width: 100%
  height: 100%
  // background: url('../images/road.png')
  // background-size: cover
  // background-repeat: no-repeat
  // background-position: center

  #body-container
    width: 100%
    height: auto

  a
    color: $linkClr
    text-decoration: inherit


    &:hover
      color: $hovScnd
      text-decoration: inherit

  .alignCenter
    text-align: center

  .spacer
    width: auto
    height: 32.5%
    background: transparent

  #nav-container
    position: fixed
    width: 100%
    height: auto
    z-index: 100

    header
      width: 100%
      height: auto
      background: $red
      color: white


      ul
        list-style: none
        text-align: center
        margin: 0
        padding: 0
        height: 100%

        #logo-li
          padding: 20px 0

        li
          padding: 0
          margin: 0

          #godex-logo
            width: 25%
            margin: 5px 0

          h1
            font-size: 1.75em
            margin: 0
            padding: 2.5% 5%
            line-height: 300%

    nav

      ul
        list-style: none
        text-align: center
        margin: 0
        padding: 0

        li
          padding: 2.5% 0
          background: rgba($grey, .75)

          a
            color: white
            text-decoration: none

            &:hover
              color: $red
              text-decoration: inherit

  .contentContainers
    height: 100%
    padding: 2.5% 2.5%
    text-align: center

  .sectionSpacers
    height: 15%
    background: transparent
    opacity: 0

  @import "./partials/appIndexStyle.sass"

  footer
    background: $addClr
    height: auto

    .footerLists
        list-style: none
        margin: 0
        padding: 0
        text-align: right
        padding: 2.5%

        li
          padding-bottom: 5%

        i
          font-size: 2.5em
          padding: 0 .5%
