@import "./importer/importer.sass"

html
  width: 100%
  height: 100%

body
  +font-fam
  color: $grey
  width: 100%
  height: 100%



  .spacer
    width: auto
    height: 28%

  #nav-container
    position: fixed
    width: 100%
    height: auto
    z-index: 100

    header
      width: 100%
      height: auto
      background: $red


      ul
        list-style: none
        text-align: center
        margin: 0
        padding: 0
        height: 100%

        li
          padding: 0
          margin: 0

          h1
            font-size: 1.75em
            margin: 0
            padding: 7.5% 5%

    nav

      ul
        list-style: none
        text-align: center
        margin: 0
        padding: 0

        li
          padding: 2.5% 0
          background: rgba($grey, .75)

          a
            color: white
            text-decoration: none

            &:hover
              color: $red
              text-decoration: inherit

  .contentContainers
    height: 100%
    padding: 2.5% 2.5%
    text-align: center

  @import "./partials/appIndexStyle.sass"
