<div id="download-section" class="container-fluid contentContainers">
  <ul class="row">
    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2>Updates</h2>
    </li>

    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ol class="">
        <li class="row">
          <span class="col-lg-6 col-xs-6">Our update text</span>
          <span class="col-lg-6 col-xs-6">7.7.16</span>
        </li>
        <li class="row">
          <span class="col-lg-6 col-xs-6">second update text</span>
          <span class="col-lg-6 col-xs-6">7.6.16</span>
        </li>
        <li class="row">
          <span class="col-lg-6 col-xs-6">first update text</span>
          <span class="col-lg-6 col-xs-6">7.5.16</span>
        </li>
      </ol>
    </li>
  </ul>
  <ol class="row">
    <li class="col-lg-6 col-xs-6">
      <div class="vendorContainer">
        <span id="google" class="emblem"></span>
        <h2 class="vendors">Google Play</h2>
      </div>
    </li>
    <li class="col-lg-6 col-xs-6">
      <div class="vendorContainer">
        <span id="apple" class="emblem"></span>
        <h2 class="vendors">Apple Store</h2>  
      </div>
    </li>
  </ol>
</div>
<div id="about-section" class="container-fluid contentContainers">

</div>
<div id="contact-section" class="container-fluid contentContainers">

</div>
