<div id="download-section" class="container-fluid contentContainers">
  <ul class="row">
    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2>Updates</h2>
    </li>

    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ol class="">
        <li class="row">
          <span class="col-lg-6 col-xs-6">Website Release</span>
          <span class="col-lg-6 col-xs-6">7.15.16</span>
        </li>
        <!-- <li class="row">
          <span class="col-lg-6 col-xs-6">second update text</span>
          <span class="col-lg-6 col-xs-6">7.6.16</span>
        </li>
        <li class="row">
          <span class="col-lg-6 col-xs-6">first update text</span>
          <span class="col-lg-6 col-xs-6">7.5.16</span>
        </li> -->
      </ol>
    </li>
  </ul>
  <ol class="row">
    <li class="col-lg-12 col-xs-12"><h3>Coming Soon</h3><hr class="divider"></li>
    <li class="col-lg-6 col-xs-6">
      <div class="vendorContainer">
        <span id="google" class="emblem"></span>
      </div>
    </li>
    <li class="col-lg-6 col-xs-6">
      <div class="vendorContainer">
        <span id="apple" class="emblem"></span>
      </div>
    </li>
  </ol>
</div>
<div id="about" class="sectionSpacers"></div>
<div id="about-section" class="container-fluid contentContainers">
  <ol class="row">
    <li class="col-lg-4 col-sm-4 col-xs-12">
      <h1>The Devs?</h1>
      <img src="./images/apple.png" alt="" class="aboutImgs" id="xtern-img"/>
      <small class="aboutSmalls"><a href="http://xtern.me" target="_blank">XTERNS</a></small>
    </li>
    <li class="col-lg-4 col-sm-4 col-xs-12">
      <h1>GoDex?</h1>
      <img src="./images/godex-icon.png" alt="" class="aboutImgs"/>
      <small class="aboutSmalls">GoDex enables Pokémon GO players to post their location of pokémon captured and display caught pokémon on a map.</small>
    </li>
    <li class="col-lg-4 col-sm-4 col-xs-12">
      <h1>Indy Built</h1>
      <img src="./images/indy-flag.png" alt="" class="aboutImgs"/>
      <small class="aboutSmalls">This team formed in Indianapolis to create an application to document pokémon's locations around the world.</small>
    </li>
  </ol>
  <hr>
  <h3>GoDex</h3>
  <small>A Global Pokémon GO Pokédex</small>
</div>
<div id="contact"class="sectionSpacers"></div>
<div id="contact-section" class="container-fluid contentContainers">
  <ol>
    <li class="row">
      <h1 class="col-lg-12">Got an Idea?</h1>
      <hr>
      <h4 class="col-lg-12">Contact us!</h4>
      <a href="mailto:support@godex.io"><small class="col-lg-12">support@godex.io</small></a>
    </li>
  </ol>
</div>
