<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="">
      <ul class="row">
        <li class="col-lg-4 col-sm-4 col-xs-12"><h1>GoDex</h1></li>
        <li class="col-lg-4 col-sm-4 col-xs-12">img goes here</li>
        <li class="col-lg-4 col-sm-4 col-xs-12"><h1>PokemonGO PokeDex</h1></li>
      </ul>
    </header>
    <nav class="nav-bar">
      <ul class="row">
        <li class="col-lg-4 col-xs-4">Download</li>
        <li class="col-lg-4 col-xs-4">About</li>
        <li class="col-lg-4 col-xs-4">Contact</li>
      </ul>
    </nav>
    {{{body}}}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
